@import url('https://fonts.googleapis.com/css? family=poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin:0%;
  padding:0%;
  box-sizing:border-box;
  font-family:'poppins',sans-serif;
  }



body
    {
          display:flax;
          justify-content:flex-end;
          align-item:flex-end;
          min-height:100vh;
          background:black;
     }

footer
    {
          position:relative;
          width:100%;
          background:blue;
          min-height:10px;
          padding:20px 50px;
          display:flex;
          justify-content:center;
          align-item:center;
          flex-direction:column;
      }

 
.social_icon,
.menu


       {
         
         position:relative; 
         display:flex; 
         justify-content:center;
         align-item:center;
         margin:10px 0;
         flex-wrap:wrap;
        } 

li
      {

        list-style:none;      
 
       }



.social_icon li a


       {
        font-size:2em;
        color:#ffff00;
        margin:0 10px;
        display:inline-block;
        transition:0.55;
          
        }

.social_icon li a:hover
        {
         transform:translatey(-10px);
         }

.menu li a 

       {
        font-size:1.2em;
        color:#ffff00;
        margin:0 10px;
        display:inline-block;
        opacity:0.75;
        text-decoration:none;
        }


.menu li a:hover
       {
        transform:translatey(10px);
        opacity:1;
        }

p {
    text align:center;    			
    color:#fff;
    margin-top:15px;
    margin-bottom:10px;
    font-size:1.1em;
   }


footer .wave
     {
        position:absolute;
        top:-100px;
        left:0;
         width:100%;
         height:100px;
         background:red url(wave.png);
         background-size:1000px 100px;
      }

.wave#wave1
      {
         z-index:1000;
         opacity:1;
         bottom:0;
         annimation:animatewave 4s linear infinite;
      }


.wave#wave2
      {
         z-index:999;
         opacity:0.5;
         bottom:10px;
         annimation:animatewave_02 4s linear infinite;
      }

@keyframes animatewave
      {
        0%
        {
         background-position-x:1000px;
        }
        100%
        {
         background-position-x:0px;
        }
      }


@keyframes animatewave_02
      {
        0%
        {
         background-position-x:1000px;
        }
        100%
        {
         background-position-x:0px;
        }
      }
